# --- START OF FILE .gitignore ---

moitruongao/
venv/
*.venv
env/
ENV/


__pycache__/
*.py[cod]
*$py.class



*.log
logs/
*.log.*

.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.sublime-project
*.sublime-workspace


build/
dist/
*.egg-info/
downloads/
*.bak
*.swp
*~



# --- END OF FILE .gitignore ---